<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IIT Admin</title>
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="fonts/flaticon.css">
    <!-- Bootstrap core CSS -->

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- <link href="fonts/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    
   
</head>


<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><img src="images/logo.png"></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                            <!-- Profile dp -->
                        </div>
                        <div class="profile_info">
                            <h2>ANAND SONI</h2>
							<span>Super</span>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <div class="clearfix"></div>
			
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li class="current"><a href="index.html"><i class="fa flaticon-speedometer-tool"></i> DASHBOARD</a></li>
                                <li><a href="report.html"><i class="fa flaticon-pie-chart"></i> REPORT </a></li>
                                <li><a href="order.html"><i class="fa flaticon-washing-machine-for-laundry"></i> ORDERS </a></li>
                                <li><a href="users.html"><i class="fa flaticon-man"></i> Users </a></li>
								<li><a href="colleges.html"><i class="fa flaticon-school"></i> Colleges </a></li>
                                <li><a href="hostel.html"><i class="fa flaticon-rest"></i> Hostels </a></li>
                                <li><a href="promotion.html"><i class="fa flaticon-signs"></i> PROMOTIONS </a></li>
                                <li><a href="slot-type.html"><i class="fa flaticon-computer"></i> SLOT TYPE </a></li>
                                <li><a href="setting.html"><i class="fa flaticon-interface"></i> Settings </a></li>
                            </ul>
                        </div>
                        

                    </div>
                    <!-- /sidebar menu -->

                    
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                      

                        <ul class="nav navbar-nav navbar-right top-mnu">
							<li><a href="#" class="tpc"> LOGOUT</a></li>
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Select Colleges <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li><a href="javascript:;">  IIT Delhi</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">IIT Delhi</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">IIT Delhi</a>
                                    </li>
                                    
                                </ul>
                            </li>

                        </ul>
                    </nav>
					<div class="stu-information">
						<div class="col-md-10 col-sm-10 col-xs-10">
							<h2>Hi, Anand</h2>
							<form>
								<div class="row">
									<div class="col-md-3">
										<input type="text" placeholder="Name/Roll No">
									</div>
									<div class="col-md-3">
										<input type="text" placeholder="Token No/Booking No">
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="backup">
								<img src="images/backup.png">
								<h4>Backup</h4>
								<p>Last Backup: 02/12/16</p>
							</div>
						</div>
					</div>
                </div>

            </div>
            <!-- /top navigation -->


            <!-- page content -->
            <div class="right_col" role="main">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-xs-6 pannnl">
						<div class="panel panelbg1">
							<a href="#">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-5">
										<i class="fa fa-panel-colleges"></i>
									</div>
									<div class="col-xs-7 text-right">
										<h3>23</h3>
										<h4>New Order</h4>
									</div>
								</div>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-xs-6 pannnl">
						<div class="panel panelbg2">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-12 col-xs-12">
										<ul class="nav navbar-nav panl-mnu">
											<li >
												<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
													In a Week <span class=" fa fa-angle-down"></span>
												</a>
												<ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
													<li><a href="javascript:;">1000</a>
													</li>
													<li>
														<a href="javascript:;">1200</a>
													</li>
													<li>
														<a href="javascript:;">15000</a>
													</li>
													
												</ul>
											</li>
										</ul>	
									</div>
									<a href="#">
									<div class="col-xs-5">
										<i class="fa fa-panel-sale"></i>
									</div>
									<div class="col-xs-7 text-right">
										<h3><span class=" fa fa-inr"></span> 5600</h3>
										<h4>Total sale</h4>
									</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-xs-6 pannnl">
						<div class="panel panelbg3">
							<a href="#">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-5">
										<i class="fa fa-panel-users"></i>
									</div>
									<div class="col-xs-7 text-right">
										<h3>895</h3>
										<h4>New Users</h4>
									</div>
								</div>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-xs-6 pannnl">
						<div class="panel panelbg4">
							<a href="#">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-12 ">
										<p>Less than <span class=" fa fa-inr"></span> 100</p>
									</div>
									<div class="col-xs-5">
										<i class="fa fa-panel-wallet"></i>
									</div>
									<div class="col-xs-7 text-right">
										<h3>68</h3>
										<h4>Wallet</h4>
									</div>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>

                <div class="row">
					<div class="col-md-5 col-sm-5 col-xs-12">
						<div class="row">
							<div class="col-md-12 m-hdng">
								<h3>Status</h3>
							</div>
						</div>
                        <div class="tab-pnl">
							<ul id="myTab" class="nav nav-tabs tab-status" role="tablist">
								<li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Pickups</a>
								</li>
								<li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Dropoff</a>
								</li>
							</ul>
							
							<div id="myTabContent" class="tab-content tab-status-body scrollspy-example scroll scrollbar1" data-spy="scroll">
								<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
									<table class="table tab-status-form">
										<thead>
											<tr>
												<th width="17%">date</th>
												<th width="15%">time</th>
												<th width="25%">Name</th>
												<th width="25%">College</th>
												<th width="18%">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Anand Soni</td>
												<td>NIIT</td>
												<td><p class="not-done">Not Done</p></td>
											</tr>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Apoorav Mittal </td>
												<td>IIM Indore</td>
												<td><p class="done">Done</p></td>
											</tr>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Garav Mittal</td>
												<td>IIT Indore</td>
												<td><p class="in-transit">In Transit</p></td>
											</tr>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Anand Soni</td>
												<td>NIIT</td>
												<td><p class="not-done">Not Done</p></td>
											</tr>
											
											
										</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
									<table class="table tab-status-form">
										<thead>
											<tr>
												<th width="17%">date</th>
												<th width="15%">time</th>
												<th width="25%">Name</th>
												<th width="25%">College</th>
												<th width="18%">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Anand Soni</td>
												<td>NIIT</td>
												<td><p class="not-done">Not Done</p></td>
											</tr>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Apoorav Mittal </td>
												<td>IIM Indore</td>
												<td><p class="done">Done</p></td>
											</tr>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Garav Mittal</td>
												<td>IIT Indore</td>
												<td><p class="in-transit">In Transit</p></td>
											</tr>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Anand Soni</td>
												<td>NIIT</td>
												<td><p class="not-done">Not Done</p></td>
											</tr>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Apoorav Mittal </td>
												<td>IIM Indore</td>
												<td><p class="done">Done</p></td>
											</tr>
											<tr>
												<td>09/12/16</td>
												<td>10:34 AM</td>
												<td>Garav Mittal</td>
												<td>IIT Indore</td>
												<td><p class="in-transit">In Transit</p></td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
							<div class="clearfix"></div>
                        </div>
                    </div>
				
                    <div class="col-md-7 col-sm-7 col-xs-12">
						<div class="row">
							<div class="col-md-12 m-hdng">
								<h3>Sales report</h3>
							</div>
						</div>
                        <div class="dashboard_graph">
							<div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                                <div style="width: 100%;">
                                    <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                                </div>
                            </div>
                            

                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <br />

                

                
            </div>
            <!-- /page content -->

        </div>

    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>

    <script type="text/javascript" src="js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="js/flot/jquery.flot.time.min.js"></script>
	<script type="text/javascript" src="js/flot/jquery.flot.spline.js"></script>
    <script>
        $(document).ready(function () {
            // [17, 74, 6, 39, 20, 85, 7]
            //[82, 23, 66, 9, 99, 6, 2]
            var data1 = [[gd(2012, 1, 1), 17], [gd(2012, 1, 2), 74], [gd(2012, 1, 3), 6], [gd(2012, 1, 4), 39], [gd(2012, 1, 5), 20], [gd(2012, 1, 6), 85], [gd(2012, 1, 7), 7]];

            var data2 = [[gd(2012, 1, 1), 82], [gd(2012, 1, 2), 23], [gd(2012, 1, 3), 66], [gd(2012, 1, 4), 9], [gd(2012, 1, 5), 119], [gd(2012, 1, 6), 6], [gd(2012, 1, 7), 9]];
            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                data1, data2
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [1, "day"],
                    //tickLength: 10,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                        //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                },
                yaxis: {
                    ticks: 8,
                    tickColor: "rgba(51, 51, 51, 0.06)",
                },
                tooltip: false
            });

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }
        });
    </script>
	
   
   <!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
    <!-- /footer content -->
</body>

</html>
